@forward "./utill/base/reset";

//variable declaration 
$header-bg-color:#683274;
$padding:20px;
$paragraph-color:white;

.header{
    background-color: $header-bg-color;
    padding: $padding;
    color: $paragraph-color;

}